.background-firstpage {
    width: 1200px;
    height: 2132px;
}

.background-borderradius {
    position: absolute;
    top: 510px;
    right: 130px;
    width: 550px;
    height: 550px;
    color: white;
    font-weight: bold;
}

.margin-text {
    color: white;
    position: absolute;
    margin-top: 1200px;
    margin-left: 260px;
    text-align: center;
}

.font {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 60px;
}

.spinner-border {
    position: absolute;
    bottom: 0px;
    left: 560px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    color: white;
}

.nameLogo {
    position: absolute;
    top: 1080px;
    left: 485px;
    width: 700px;
    height: 1000px;
    color: white;
    font-size: 80px;
}