.background-firstpage {
    width: 1200px;
    height: 2132px;
}

.background-borderradius {
    position: absolute;
    top: 710px;
    right: 160px;
    width: 450px;
    height: 450px;
    color: white;
}

.margin-text {
    color: white;
    position: absolute;
    margin-top: 1200px;
    margin-left: 360px;
    text-align: center;
}

.font {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 60px;
}

.spinner-border {
    position: absolute;
    bottom: 0px;
    left: 560px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    color: white;
}