.background-firstpage {
    width: 1200px;
    height: 2132px;
}

.background-borderradius {
    position: absolute;
    top: 270px;
    right: 2px;
    width: 1300px;
    height: 1400px;
    color: white;
}

.margin-text {
    color: white;
    position: absolute;
    margin-top: 790px;
    margin-left: 405px;
    text-align: center;
}

.font {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 50px;
}

.spinner-border {
    position: absolute;
    bottom: 0px;
    left: 560px;
    width: 100px;
    height: 100px;
    z-index: 1000;
    color: white;
}