.background {
    width: 1200px;
    height: 2133px;
}

.background-text {
    color: white;
    position: absolute;
    margin-top: 235px;
    margin-left: 240px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 90px;
}

.envi {
    color: white;
    position: absolute;
    margin-top: 1203px;
    margin-left: 405px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.social {
    color: white;
    position: absolute;
    margin-top: 744px;
    margin-left: 515px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.int {
    color: white;
    position: absolute;
    margin-top: 975px;
    margin-left: 450px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.square-first {
    position: absolute;
    margin-top: 700px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-second {
    position: absolute;
    margin-top: 926px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-third {
    position: absolute;
    margin-top: 1156px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-four {
    position: absolute;
    margin-top: 1382px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}