.background {
    width: 1200px;
    height: 2133px;
}

.background-text {
    color: white;
    position: absolute;
    margin-top: 205px;
    margin-left: 250px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 100px;
    text-align: center;
}

.down {
    color: white;
    position: absolute;
    margin-top: 1393px;
    margin-left: 470px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.up {
    color: white;
    position: absolute;
    margin-top: 944px;
    margin-left: 500px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.cold {
    color: white;
    position: absolute;
    margin-top: 1170px;
    margin-left: 485px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.boldy {
    color: white;
    position: absolute;
    margin-top: 715px;
    margin-left: 460px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.square-first {
    position: absolute;
    margin-top: 670px;
    margin-left: 300px;
    text-align: center;
    width: 610px;
    height: 150px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-second {
    position: absolute;
    margin-top: 896px;
    margin-left: 300px;
    text-align: center;
    width: 610px;
    height: 150px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-third {
    position: absolute;
    margin-top: 1126px;
    margin-left: 300px;
    text-align: center;
    width: 610px;
    height: 150px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}

.square-four {
    position: absolute;
    margin-top: 1352px;
    margin-left: 300px;
    text-align: center;
    width: 610px;
    height: 150px;
    border-radius: 15px;
    opacity: 0.3;
    border: 5px solid black;
}