.background {
    width: 1200px;
    height: 2133px;
}

.background-text {
    color: white;
    position: absolute;
    margin-top: 110px;
    margin-left: 240px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-size: 90px;
}

.down {
    color: white;
    position: absolute;
    margin-top: 1423px;
    margin-left: 455px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.up {
    color: white;
    position: absolute;
    margin-top: 974px;
    margin-left: 490px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.cold {
    color: white;
    position: absolute;
    margin-top: 1200px;
    margin-left: 470px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.boldy {
    color: white;
    position: absolute;
    margin-top: 745px;
    margin-left: 440px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

.square-first {
    position: absolute;
    margin-top: 700px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;

}

.square-second {
    position: absolute;
    margin-top: 926px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
}

.square-third {
    position: absolute;
    margin-top: 1156px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    opacity: 0.3;
}

.square-four {
    position: absolute;
    margin-top: 1382px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    opacity: 0.3;
}

.white-border-first {
    position: absolute;
    margin-top: 700px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    border: 5px solid white;
}

.white-border-second {
    position: absolute;
    margin-top: 926px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    border: 5px solid white;
}

.white-border-third {
    position: absolute;
    margin-top: 1156px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    border: 5px solid white;
}

.white-border-four {
    position: absolute;
    margin-top: 1382px;
    margin-left: 265px;
    text-align: center;
    width: 684px;
    height: 168px;
    border-radius: 15px;
    border: 5px solid white;
}