.background {
    width: 1000px;
    height: 1778px;
    margin: 0;
    top: 5px;
}

.step3text {
    color: white;
    position: absolute;
    margin-top: 90px;
    margin-left: 370px;
    text-align: center;
    font-size: 100px;
}

.challenge {
    color: white;
    position: absolute;
    margin-top: 550px;
    margin-left: 100px;
    text-align: center;
    font-size: 50px;
    font-weight: 350;
}

.right {
    color: white;
    position: absolute;
    bottom: 70px;
    right: 120px;
    width: 90px;
    height: 90px;
}

.right-border {
    color: white;
    position: absolute;
    bottom: 45px;
    right: 95px;
    width: 140px;
    height: 140px;
    border: 3px solid white;
    border-radius: 50%;
}

.x {
    color: white;
    position: absolute;
    bottom: 85px;
    left: 156px;
    width: 60px;
    height: 60px;
}

.x-border {
    color: white;
    position: absolute;
    bottom: 45px;
    left: 115px;
    width: 140px;
    height: 140px;
    border: 3px solid white;
    border-radius: 50%;
}